<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>evnts</title>
  <script type="text/javascript" src="dist/polyfill.min.js"></script>
  <script type="text/javascript" src="dist/rex.min.js"></script>
  <script type="text/javascript" src="dist/evnts.min.js"></script>
</head>
<body>

  <main class="hotel" is="evnts-hotel">
  </main>

  <script id="hotel" type="text/tmpl">
    <header class="hotel_head">
      <a class="hotel_back" href="./index.html">
        Eventos
      </a>
      <h2 class="hotel_name"><%= name %></h2>
      <strong class="hotel_star"><%= Array(~~stars).toString().split(',').map(() => '&#9733;').join('') %></strong>
    </header>
    <section class="hotel_image" src="<%= image %>" is="evnts-image">
      <%= image %>
    </section>
    <content class="hotel_body">
      <p class="hotel_description"><%= description %></p>
      <ul class="hotel_amenities">
        <% for (var i = 0; i < amenities.length; i++) { %>
          <li class="hotel_tag"><%= amenities[i] %></li>
        <% } %>
      </ul>
      <table class="info">
        <% for(var i = 0; i < rooms.length; i++) { %>
          <tr class="info_item" data-id="<%= rooms[i].id %>">
            <td class="info_name"><%= rooms[i].name %></td>
            <td class="info_description"><%= (rooms[i].beds || rooms[i].bed).join(', ') %></td>
            <td class="info_price"><%= rooms[i].price %></td>
          </tr>
        <% } %>
      </table>
    </content>
    <form class="hotel_lead">
      <h3 class="hotel_name">Faça sua Reserva</h3>
      <label class="hotel_control">
        Nome
        <input class="hotel_input"></input>
      </label>
      <label class="hotel_control">
        E-Mail
        <input class="hotel_input"></input>
      </label>
      <label class="hotel_control">
        Telefone
        <input class="hotel_input"></input>
      </label>
      <label class="hotel_control">
        Observação
        <textarea class="hotel_input"></textarea>
      </label>
      <button class="hotel_control-submit">
        Enviar
      </button>
    </form>
  </script>

  <link rel="stylesheet" href="benchmark/evnts/style.css">
  <link rel="prefetch" href="./index.html" as="html" crossorigin>

</body>
</html>